<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Buku</title>
  </head>
  <body>
    <h1>Edit Buku</h1>
    <form method="POST">
      <input type="text" name="nama" value="{{ book.nama }}" required />
      <input type="number" name="harga" value="{{ book.harga }}" required />
      <input type="number" name="stok" value="{{ book.stok }}" required />
      <button type="submit">Simpan Perubahan</button>
    </form>
    <a href="{{ url_for('index') }}">Kembali</a>
  </body>
</html>
